body{
	text-align: center;
}

.headTitle{
	height: 20px;
	width:20px;
}

.gooseWarFace{
	position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.gooseWarFace .gooseWarFacetext {
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.gooseWarFace:hover .gooseWarFacetext {
	visibility: visible;
}